body {
  background: #FFC756;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 10px;
}

article {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  margin: 30px;
  padding: 20px;
}

h1 {
  font-family: Cochin, serif;
  font-size: 46px;
  margin: 10px;
  text-align: center;
}

p {
  margin-top: 0;
}

.pullout {
  background: #FFF2D1;
  border: 1px solid #FFCE56;
  padding: 20px;
}

.pullout div {
  margin-bottom: 5px;
  padding: 0 10px;
}

.pullout label {
  display: block;
}

.pullout input {
  font-size: 24px;
  width: 100%;
  max-width: 300px;
}

.pullout button {
  font-size: 14px;
}

.extended-copy img {
  display: block;
  margin: 20px auto;
}