body {
  background: #FFC756;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 10px;
}

article {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  margin: 30px;
  padding: 20px;
}

h1 {
  font-family: Cochin, serif;
  font-size: 46px;
  margin: 10px;
  text-align: center;
}

p {
  margin-top: 0;
}

#intro {
  align-content: space-between;
  align-items: flex-start;
  display: flex;
}

#intro nav {
  flex: 1 0 20%;
  order: 1;
  padding: 0 20px;
}

#intro nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#intro nav li {
  margin-bottom: 10px;
}

#intro nav a {
  text-decoration: none;
}

#intro nav ol ol {
  margin-bottom: 10px;
  padding: 0 0 0 20px;
}

#intro section {
  order: 2;
}

.pullout {
  align-self: center;
  background: #FFF2D1;
  border: 1px solid #FFCE56;
  margin-left: 20px;
  order: 3;
  padding: 20px;
  transition: background 1s ease-in-out;
  transition: border 1s ease-in-out;
}

.pullout h2 {
  margin-top: 0;
}

.pullout h2 {
  margin-top: 0;
}

.pullout div {
  margin-bottom: 5px;
  padding: 0 10px;
}

.pullout label {
  display: block;
}

.pullout div {
  margin-bottom: 5px;
  padding: 0 10px;
}

.pullout input {
  font-size: 24px;
  width: 100%;
}

.pullout button {
  font-size: 14px;
}

.extended-copy img {
  display: block;
  margin: 20px auto;
}

.layouts {
  border-collapse: collapse;
  display: table;
}

.layouts h2 {
  display: table-caption;
}

.layouts h3 {
  text-align: center;
}

.layouts div {
  background: #FFF2D1;
  border: 1px solid #ccc;
  display: table-cell;
  padding: 0 20px;
  width: 33%;
}

.layouts img {
  display: block;
  margin: 10px auto;
  width: 200px;
}

.extended-copy {
  -webkit-column-count: 3;
  -webkit-column-rule: 1px solid #ccc;
}

.extended-copy h2 {
  -webkit-column-span: all;
}

.extended-copy h3 {
  margin-top: 0;
}

.extended-copy img {
  -webkit-column-span: all;
  display: block;
  margin: 20px auto;
}

.references {
  -webkit-column-count: 2;
}

.references ol {
  margin: 0;
}

.references h2 {
  -webkit-column-span: all;
}

/* iPhone 5ish */
@media (min-width: 320px) and (max-width: 767px) {
  body {
    padding: 0;
  }

  article {
    margin: 0;
  }

  h1 {
    font-weight: 300;
    font-size: 28px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }

  #intro {
    flex-direction: column;
  }

  #intro nav {
    flex: 0;
    order: 3;
  }

  .pullout {
    background: #fff;
    border-bottom-color: #ccc;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #ccc;
    margin-left: 0;
  }
  
  .layouts, .layouts div, .layouts h2, .layouts h3 {
    background: inherit;
    border: 0;
    display: block;
    text-align: inherit;
    width: inherit;
  }

  .layouts img {
    display: inline-block;
  }

  .extended-copy, .references {
    -webkit-column-count: 1;
  }

  .extended-copy img {
    width: 90vw;
  }
}

@media (min-width: 768px) and (max-width: 1208px) {
  .extended-copy {
    -webkit-column-count: 2;
  }
}