body {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	padding: 10px;
}

.pullout {
  background: #FFF2D1;
  padding: 20px;
  border: 1px solid #FFCE56;
}

.pullout label {
  width: 140px;
  float: left;
}